<div style="align-items: center; flex: content">
    <div>
        <marquee behavior="alternate">
            <h1>XAUUSD 4116.42</h1>
        </marquee>
    </div>
    <div>
        <p>Nome: Lucas Vinicius</p>
        <p>Turma: 4º Período</p>
        <p>Disciplina: Programação</p>
        <p>Data: 21/10/2025</p>
    </div>
</div>